<html>
    <head>
        <title>Weather</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get weather info</p>

            <form>
                <input placeholder="City">
                <button>Search</button>
            </form>
            <img id="icon" class="weather">
            <div id="result"></div>
        </div>
        
        {{>footer}}

        <script src="js/app.js"></script>
    </body>
</html>